* {
	box-sizing: border-box;
}

body {
    background-color: #233E83;
    display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-weight: bold;
    color: white;
	margin: 30px;
}

h2 {
    text-align: center;
    color: #233E83;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

label {
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input {
    background-color: #eee;
	border: none;
	border-radius: 20px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    margin: 20px;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.titulo1 {
    color: #233E83;
}

.registro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;

}

.titulo {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container {
    justify-content: center;
    background-color: #fff;
	border-radius: 30px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
    top: 50px;
	width: 600px;
	max-width: 100%;
	min-height: 900px;
}

button {
	border-radius: 20px;
	border: 1px solid #233E83;
	background-color: #233E83;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
/* Se puso un color diferente al hacer hover para que se note el cambio */ 
button:hover {
	background-color: #ffffff;
	color: #233E83;
	border-color: #233E83;
}

/* Es el container del login */
.container1 {
    justify-content: center;
    background-color: #fff;
	border-radius: 30px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
    top: 50px;
	width: 600px;
	max-width: 100%;
	min-height: 450px;
}